@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  background: #000;
  height: 100vh;
  margin: 0;
  color: #ccc;
  font-family: 'Josefin Sans', sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding: 2.5% 5%;

  &-content {
    position: fixed;
    z-index: 999;
    user-select: none;
  }

  &-link {
    padding: 0 25px 0 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}

.landing {
  min-height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  place-items: center;
  color: #fff;
  position: fixed;
  z-index: -999;
  //background: linear-gradient(rgb(47, 58, 153), rgb(94, 86, 171), rgb(133, 115, 189), rgb(170, 147, 206), rgb(207, 179, 224));
  //background: linear-gradient(rgb(254, 87, 193), rgb(252, 112, 184), rgb(250, 133, 174), rgb(246, 152, 164), rgb(242, 170, 154));
  background: linear-gradient(rgb(163, 141, 229), rgb(135, 120, 215), rgb(105, 100, 201), rgb(71, 81, 188), rgb(19, 63, 174));
  &-content {
    padding: 10vh 5%;
    width: 90%;
  }

  &__line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &-text {
      font-size: 8vh;
      opacity: 0;
      transition: opacity 1s cubic-bezier(0.4, 0.0, 0.2, 1);
      line-height: 1.15;

      &-2, &-3 {
        transition-delay: 1.5s;
      }

      &-4 {
        transition-delay: 3s;
      }

      &-5 {
        transition-delay: 4.25s;
      }

      &-6 {
        transition-delay: 5.5s;
      }
    }
  }
}

.projects, .contact {
  position: absolute;
  top: 0;
  margin-top: 100vh;
  height: 100vh;
  width: 100vw;
  background: #000;
  z-index: 1;
  transition: margin-top 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);


  &-content {
    padding: 0 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-header {
    padding-left: 5%;
    font-size: 6vh;
    color: #fff;
  }
}

.projects {

  &__container {
    $p: &;
    background-color: #000;
    flex: 0 1;
    min-width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2vh 2.5%;
    justify-content: space-around;
    border-radius: 3px;
    transition: background 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
    color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
    border 0.3s cubic-bezier(0.0, 0.0, 0.2, 1),
    flex-grow 0.6s cubic-bezier(0.0, 0.0, 0.2, 1);

    &-title {
      font-size: 125%;
      margin: 0 0 16px 0;
      display: flex;
      flex-direction: column;

      &--date {
        font-size: 80%;
        color: #777;
      }
    }

    &-content {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    &-image {
      border-radius: 3px;
      height: 100%;
      width: 100%;
      background: #252525;
    }

    &-description {
      visibility: hidden;
      transition: visibility 0s, opacity 0.2s;
      opacity: 0;
      height: 0;
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0;
      line-height: 1.35;
      white-space: nowrap;
      transition: font-size 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    &-links {
      display: flex;
      justify-content: space-between;

      &-web_only {
        justify-content: flex-end;
      }

      &-link {
        color: #777;
      }
    }

    &:hover {
      flex-grow: 2;

      #{$p}-description {
        visibility: visible;
        opacity: 1;
        height: initial;
      }

      #{$p}-text {
        overflow: visible;
        font-size: 16px;
        white-space: normal;
      }
    }
  }
}

.contact {
  display: grid;
  place-content: center;

  &-content {
    height: 100%;
    display: grid;
    place-content: center;
  }

  &-title {
    font-size: 4vmax;

    &--link {
      color: #fff;
      text-decoration: none;
      transition: text-decoration 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);

      &:visited {
        color: #fff;
      }

      &:after {
        bottom: calc(50% - 5px);
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        background: #8878DE;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 38vmax;
      }
    }
  }
}

.visible {
  opacity: 1;
}
