@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  background: #000;
  margin: 0;
  color: #ccc;
  font-family: "Josefin Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding: 2.5% 5%;
  z-index: 999;
}

.nav-content {
  position: fixed;
}

.nav-link {
  padding: 0 25px 0 0;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
}

.nav-link:hover {
  color: white;
}

.landing {
  min-height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  place-items: center;
  color: #fff;
  position: fixed;
  z-index: -999;
}

.landing-content {
  padding: 10vh 5%;
  width: 90%;
}

.landing__line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.landing__line-text {
  font-size: 8vh;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.15;
}

.landing__line-text-2,
.landing__line-text-3 {
  transition-delay: 1.5s;
}

.landing__line-text-4 {
  transition-delay: 3s;
}

.landing__line-text-5 {
  transition-delay: 4.25s;
}

.landing__line-text-6 {
  transition-delay: 5.5s;
}

.projects {
  top: 0;
  margin-top: 200vh;
  height: 100vh;
  background: #000;
  z-index: 2;
  display: block;
  transition: margin-top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-content {
  padding: 0 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-header {
  padding-left: 5%;
  font-size: 6vh;
  color: #fff;
}

.projects__container {
  background-color: #000;
  flex: 0 1;
  min-width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2vh 2.5%;
  justify-content: space-around;
  border-radius: 3px;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1), border 0.3s cubic-bezier(0, 0, 0.2, 1), flex-grow 0.6s cubic-bezier(0, 0, 0.2, 1);
}

.projects__container-title {
  font-size: 125%;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
}

.projects__container-title--date {
  font-size: 80%;
  color: #777;
}

.projects__container-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.projects__container-image {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  background: #252525;
}

.projects__container-description {
  visibility: hidden;
  transition: visibility 0s, opacity 0.2s;
  opacity: 0;
  height: 0;
}

.projects__container-text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0;
  line-height: 1.35;
  white-space: nowrap;
  transition: font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__container-links {
  display: flex;
  justify-content: space-between;
}

.projects__container-links-web_only {
  justify-content: flex-end;
}

.projects__container-links-link {
  color: #777;
}

.projects__container:hover {
  flex-grow: 2;
}

.projects__container:hover .projects__container-description {
  visibility: visible;
  opacity: 1;
  height: initial;
}

.projects__container:hover .projects__container-text {
  overflow: visible;
  font-size: 16px;
  white-space: normal;
}

.projects:before {
  position: relative;
  width: 100%;
  top: -100px;
  height: 100px;
  content: "";
  background: linear-gradient(180deg, transparent, #000);
  display: block;
  z-index: -1;
}

.visible {
  opacity: 1;
}

